name: Test PR with Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to test'
        required: true
        type:  string

jobs:
  test:
    runs-on:  ubuntu-latest

    steps:
      - name:  Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version:  '3.x'

      - name:  Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run build
        run: python build.py ${{ github.event.inputs.version }}

      - name: Run tests
        run: python -m unittest -v ./versions/${{ github.event.inputs.version }}/test.py
